node_modules/
.python/
.worktrees/
editor/dist/
editor/src-tauri/gen/
editor/src-tauri/layers/
editor/src-tauri/target/
psdexport/
*_export/
release
editor/src-tauri/python-packages
editor/src-tauri/python-runtime
